<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<h1>Cambio de contraseña</h1>
    <p>Hola {{.Nombre}}</p>
    <p>Se ha solicitado un cambio de contraseña en Uipath Monitor</p>
    <p>Tu nueva contraseña es: <strong>{{.Password}}</strong></p>
    <p>Recuerda que puedes cambiar tu contraseña al iniciar sesión en la aplicación</p>
	<p>¡Gracias por utilizar Uipath Monitor!</p>
	<p>Por favor, mantén esta información de manera segura y no la compartas con nadie.</p>
	<p class="footer">
		Este mensaje ha sido generado automáticamente.
		<br>
		<img src="data:image/png;base64, {{.LogoBase64}}" alt="Logo de la compañía" class="logo">
	</p>
</body>
</html>
