<!DOCTYPE html>
<html>
<head>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 11px;
		}

		h1 {
			font-size: 20px;
			color: #333;
		}

		p {
			font-size: 12px;
			color: #666;
		}

		.footer {
			font-size: 12px;
			color: #999;
			margin-top: 20px;
			text-align: center;
		}
		.logo {
			max-width: 100px;
			margin-top: 20px;
		}
	</style>
</head>
<body>
<h1>Bienvenido a Monitor de procesos RPA</h1>
<p>{{.Nombre}} Te damos la bienvenida al Monitor de procesos RPA, la herramienta que te permitirá monitorear el estado
	de tus procesos de Uipath.</p>
    <p>Tu usuario es <strong>{{.Email}}</strong></p>
    <p>Tu contraseña es: <strong>{{.Password}}</strong></p>
    <p>Recuerda que puedes cambiar tu contraseña al iniciar sesión en la aplicación</p>
	<p>¡Gracias por registrarte!</p>
	<p>Por favor, mantén esta información de manera segura y no la compartas con nadie.</p>
	<p class="footer">
		Este mensaje ha sido generado automáticamente.
		<br>
		<img src="data:image/png;base64, {{.LogoBase64}}" alt="Logo de la compañía" class="logo">
	</p>
</body>
</html>
